.div{
  display: flex;
  

}

.swiper {
  max-width: 1920px;
  height:100vh;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}

.swiper-slide {
  max-width: 1920px;
  font-size: 30px;
  height: 100vh;
  
  justify-content: center;
  display: flex;
  align-self: center;
  align-items: center;
} 

.swiper-wrapper{
  align-self: center;
  max-width: 1920px;
}


.swiper-wrapper .swiper-slide-active{
  align-self: center;
  max-width: 1920px;
}

.space {
  width: 100px;
  height: auto;
  display: inline-block;
}

.Toggle{
  list-style: none; 
  font-size: 25px;
  font-family: #4A4D57;
  

}


 
button[disabled]{
  background-color: #026BFB;;
  color: white;  
}




.GnbMenuContainer{
  position: absolute;

}

.btn1 {

  padding: 7px 17px;
  gap: 10px;
  width: 140px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #DCDEE5;
  font-family: #4A4D57;
  cursor: pointer;
  background-color: white;
  color: black;
  
}

.btn2 {

  padding: 7px 17px;
  gap: 10px;
  width: 95px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #DCDEE5;
  font-family: #4A4D57;
  cursor: pointer;
  background-color: white;
  color: black;
  
}

.btn3 {

  padding: 7px 17px;
  gap: 10px;
  width: 110px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #DCDEE5;
  font-family: #4A4D57;
  cursor: pointer;
  background-color: white;
  color: black;
  
}

.active {
  background-color: #026BFB;
  color: white;
}

.container{

  display: flex;
  padding: 0px;
  gap: 8px;
  height: 36px;
}

/* .activebtn{
  background-color: #0095f6;
}

.unactivebtn{
  background-color: #b2dffc;
} */