.div{
  display: flex;
  

}

.swiper {
  


  height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}

.swiper-slide {

  font-size: 30px;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-self: center;
  align-items: center;
} 

.swiper-wrapper{
  align-self: center;
}


.swiper-wrapper .swiper-slide-active{
  align-self: center;
}